#container { /* to align the grid cells */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    }

.grid { /* the cells */
    width: 48px;
    height: 48px;
    align-content: center;
    text-align: center;
    transition: 0; 
    background-color: ;
    border: 3px solid black;
}


#wrapper { /*outline*/
    padding: 3px 5px 3px 5px;
    border: 3px solid black;
    border-radius: 1px;
    margin: 180px auto;
    width: 700px;
}

