#container { /* to align the grid cells */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 18px auto;
    }

.grid { /* the cells */
    width: 27px;
    height: 27px;
    align-content: center;
    text-align: center;
    transition: 0; 
    background-color: ;
    border: 1px solid white;
}


#wrapper { /*outline*/
    padding: 3px 5px 3px 5px;
    border: 3px solid black;
    border-radius: 12px;
    margin: 100px auto;
    height: 530px;
    width: 900px;
}
