body {
    padding-top: 80px;
    height: 100%;
}

body {
    /*background-image: url('https://image.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg'); */
    background-image: url('images/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.microsoft-logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#myNavbar {
    margin-top: -60px;
}

a {
    font-family: 'Cinzel Decorative', cursive;
}

.btn {
    font-family: 'Cinzel Decorative', cursive;
}

td {
    border: 3px solid #eebe64;
    width: 30px;
    height: 30px;
}

.key {
    border: 1px solid #79d9ce;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
}

.btn-space {
    margin-right: 5px;
}

#update {
    margin-bottom: 15px;
    margin-top: 10px;
}


.wall {
	transition : background-color 0.1s ease-in-out;
	background-color: #cf1020 ;
	border-color: #cf1020  ;
}

.hill{
	transition : background-color 0.1s ease-in-out;
	background-color: #3d2323	;
	border-color: #3d2323	;
}

.ice{
	transition : background-color 0.1s ease-in-out;
	background-color: #ffffff	;
	border-color: #ffffff	;
}

.crater{
	transition : background-color 0.1s ease-in-out;
	background-color: #000000	;
	border-color: #000000	;
}

.storm{
	transition : background-color 0.1s ease-in-out;
	background-color: #d4b868	;
	border-color: #d4b868	;
}

.none {
	transition : background-color 0.1s ease-in-out;
	background-color: white;
	border-color: #79d9ce;
}

.searching {
	/*transition : background-color 0.08s ease-in-out;

background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    background-size: 20px 20px;*/

    background-image: url('https://digitalsynopsis.com/wp-content/uploads/2017/02/beautiful-color-gradients-backgrounds-004-juicy-peach.png'); 
	background-size: cover;
}

.visited {
	transition : background-color 0.08s ease-in-out;
	/*background-color: rgb(120, 158, 111);
background-image:
  linear-gradient(45deg, #ccc 25%, transparent 25%),
  linear-gradient(-45deg, #ccc 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #ccc 75%),
  linear-gradient(-45deg, transparent 75%, #ccc 75%);
	background-size:20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;*/
	/* background-color: #1c28d4;
    border-color: #1c28d4; */
    background-image: url('https://digitalsynopsis.com/wp-content/uploads/2017/02/beautiful-color-gradients-backgrounds-082-desert-hump.png'); 
	background-size: cover;

}

.success {
    
    background-image: url('https://wallpaperaccess.com/full/1092716.png'); 
    background-size: cover;
}


.start {
    background-image: url('https://i.pinimg.com/originals/4b/5f/d3/4b5fd341ed56b734a5de24945fcd1c36.jpg'); 
	background-size: cover;
}

.end {
    
    background-image: url('https://c1.wallpaperflare.com/preview/714/489/198/chess-chess-board-game-board-flag.jpg');
	background-size: cover; 
}

.end1 {
    background-image: url('https://c1.wallpaperflare.com/preview/714/489/198/chess-chess-board-game-board-flag.jpg');
	background-size: cover;
}
.check1{
    background-image: url('https://images.assetsdelivery.com/compings_v2/get4net/get4net1902/get4net190209294.jpg');
	background-size: cover; 
}
.checkmark{
    color:white;
    margin-right: 10px;
}
#holder {
    width: 85%;
    margin: auto;
    margin-top: 30px;
}

#results {
    height: 87px;
    width: 120px;
    background-color: #ffc107;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
    border: 1px dashed black;
}

#resultsIcon {
    margin-bottom: 3px;
    margin-top: 7px;
    font-size: 16px;
}

#duration,
#length {
    padding: 3px;
}

@media only screen and (max-width: 650px) {
    #myNavbar a {
        font-size: 1rem;
    }
    #holder {
        width: 80%;
        margin: auto;
    }
}
